@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] font-sans antialiased;
  }

  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-brand-500;
  }
}
